@charset "utf-8";
body{
	margin: 0;
}

.container{
	width: 400px;
	height: 450px;
	margin: 0 auto;
	position:relative;
}

.red--box{
	width: 400px;
	height: 100px;
	background: #ff0000;
}

.winered--boxes{
	display: flex;
	gap: 10px;
	padding: 10px;
	position: absolute;
	top:20px;
	right:20px;
	overflow:hidden;
	background-color: #ffffff;
}

.winered--box{
	width: 40px;
	height: 40px;
	background: #a9004b;
}

.green--box{
	width: 150px;
	height: 250px;
	background:#00ff51;
	float:left
}

.brown--box{
	width: 250px;
	height: 250px;
	background: #8c2727;
	float:left;
	position:relative;
}

.orange--boxes{
	overflow:hidden;
	position: absolute;
	top: 40px;
	left: 40px;
}

.orange--box{
	width: 140px;
	height: 40px;
	background: #ff863f;
	margin: 0 0 10px 0;
	border: 5px solid #ffffff;
}
.orange--box:last-child{
	margin-bottom: 0;
}

.yellow--box{
	width:400px;
	height:100px;
	background: #ffd000;
	position: absolute;
	bottom: 0;
}
